{% extends ".pyproject.tmpl" %}

# vim:tw=0:ts=4:sw=4:et:norl:ft=toml
# Author: Landon Bouma <https://tallybark.com/>
# Project: https://github.com/doblabs/easy-as-pypi#🥧
# License: MIT

# Copyright (c) © 2020-2023 Landon Bouma. All Rights Reserved.

{% block project_meta -%}

[tool.poetry]
# REFER: https://peps.python.org/pep-0621/
#   https://packaging.python.org/en/latest/specifications/declaring-project-metadata/

name = "easy-as-pypi-config"
version = "0.0.0"
description = "Bootstrapped Config engine for your next Python CLI based on easy-as-pypi"

authors = ["Landon Bouma <doblabs@tallybark.com>"]
maintainers = ["Tally Bark LLC <doblabs@tallybark.com>"]

license = "MIT"
readme = "README.rst"

# REFER: https://pypi.org/classifiers/
classifiers = [
    "Development Status :: 5 - Production/Stable",
    "Intended Audience :: Developers",
    "Natural Language :: English",
    "Operating System :: OS Independent",
    "Topic :: Software Development :: Libraries :: Python Modules",
    # Or alternatively:
    #  "Topic :: Terminals",
    #  "Environment :: Console",
]

# Keywords for PyPI to display, and to use for search results.
keywords = [
    "python",
    "user",
    "config",
    "INI",
    "settings",
    "application",
    "options",
    "CLI",
    "TUI",
    "scaffolding",
    "library",
    "boilerplate",
    "pyoilerplate",
    "framework",
    "cookiecutter",
    "skeleton",
]

# poetry build excludes __pycache__ dirs
# and whatever Git ignores (.gitignore).
# Here we add files to the source dist.
#
# REFER: https://python-poetry.org/docs/pyproject/#include-and-exclude

include = [
    # Included by default:
    #  { path = "LICENSE", format = "sdist" },
    #  { path = "README.rst", format = "sdist" },
    #  { path = "pyproject.toml", format = "sdist" },
    { path = "*.rst", format = "sdist" },
    { path = "tests/", format = "sdist" },
    # Omitting: Makefile, dotfiles, docs/, etc.
    # Learning: How you can inflate the wheel:
    #  { path = "for_wheel.txt", format = ["sdist", "wheel"] }
]

# Note that Poetry looks for packages under src/ by default, but
# we could specify the path explicitly, e.g.,
#
#   packages = [{include = "the_package_name", from = "src"}]

# ***

# YOU: Uncomment and customize to add a CLI entrypoint:
#
#   [tool.poetry.scripts]
#   easy-as-pypi-config = "easy_as_pypi_config:cli"

# ***

[tool.easy_as_pypi]
author = "Landon Bouma <https://tallybark.com/>"
copy_years_owner = "2018-2023 Landon Bouma"
coc_contact_email = "tallybark+doblabs -at- gmail.com"

# ***

[tool.poetry.urls]

# HOWTO: Add project URLs to this table. If you use special keywords in
# the name or certain domains in the URL, PyPI will treat them specially
# or at least iconify them.
# - These names are special:
#     "download"
#     "home", "homepage", "home page"
#     "changelog", "change log", "changes", "release notes",
#         "news", "what's new", "history"
#     "docs*", "documentation*"
#     "bug*", "issue*", "tracker*", "report*"
#     "funding*", "donate*", "donation*", "sponsor*"
# - REFER: See the source for specifics:
#     https://github.com/pypi/warehouse/blob/main/warehouse/templates/packaging/detail.html
# - THANX: Here's also a nice graphic:
#     https://daniel.feldroy.com/posts/2023-08-pypi-project-urls-cheatsheet

# WIRED: The Sphinx config (docs/conf.py) and .github/bin/update-poetry
#        require that 'homepage' or 'repository' is set.

homepage = "https://github.com/doblabs/easy-as-pypi-config#🍐"

history = "https://github.com/doblabs/easy-as-pypi-config/blob/release/HISTORY.rst"

documentation = "https://easy-as-pypi-config.readthedocs.io/en/latest"

issues = "https://github.com/doblabs/easy-as-pypi-config/issues"

download = "https://pypi.org/project/easy-as-pypi-config/#files"

{% endblock -%}

{# +++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ #}

{% block isort_known_third_party -%}
    "configobj",
    "click_hotoffthehamster",
    "config_decorator",
    "easy_as_pypi_appdirs",
    "easy_as_pypi_termio",
{%- endblock %}

{# +++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ #}

{% block deps_test_fakers_and_factories -%}
# - "package that generates fake data for you"
#
#   https://pypi.org/project/Faker
#   https://github.com/joke2k/faker
Faker = ">=18.7.0"
#
# - "Faker integration with the pytest framework."
#
#   https://pypi.org/project/pytest-faker
#   https://github.com/pytest-dev/pytest-faker
#  pytest-faker >= 2.0.0

# - "Generates random data for your tests"
#
#   https://pypi.org/project/fauxfactory
#   https://github.com/omaciel/fauxfactory
fauxfactory = ">=3.1.0"

# - ORM record generator / "test fixtures replacement for Python".
#
#   https://pypi.org/project/factory-boy
#   https://github.com/FactoryBoy/factory_boy
#  factory-boy = ">=3.2.1"
#
# - "Factory Boy support for pytest"
#
#   https://pypi.org/project/pytest-factoryboy
#   https://github.com/pytest-dev/pytest-factoryboy
#  pytest-factoryboy = ">=2.5.1"

{% endblock -%}

{# +++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ #}

{% block project_dependencies -%}

# INI/config parser, even better (preserves comments and ordering).
#  https://github.com/DiffSK/configobj
#  https://configobj.readthedocs.io/en/latest/
configobj = "^5.0"

# *** HOTH packages.

# (lb): Click itself:
#  https://github.com/pallets/click
#   'click >= 7.0, < 8',
# But instead a Click fork with subtle tweaks.
#  https://github.com/hotoffthehamster/click
# Click-HOTH's v7.8 is a Pallets Clicks v8.x fork.
click-hotoffthehamster = "^7.8.0"

# Pythonic config @decorator.
#  https://github.com/hotoffthehamster/config-decorator
config-decorator = "^2.0.15"

# ActiveState/appdirs + Singleton (app-wide access w/out appname) + `mkdir -p`.
#  https://github.com/doblabs/easy-as-pypi-appdirs#🛣
easy-as-pypi-appdirs = "^1.1.1"

# Click + ansi_escape_room (color) + convenience.
#  https://github.com/doblabs/easy-as-pypi-termio#🍉
easy-as-pypi-termio = "^1.0.0"
{% endblock %}
